.header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #333;
  top: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.nav h1 {
  color: #ece9e1;
  font-size: 1rem;
  text-align: center;
}
.logo {
  padding-left: 100px;
}

.Spotslink {
  color: #ece9e1;
  display: flex;
  align-items: center;
  padding-right: 100px;
}

.Spotslink::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../Assets/mira.svg") no-repeat center center;
  color: #ece9e1;
  margin-left: 0.6rem;
}
