.abilitiesContainer {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.ability {
  display: flex;
  justify-content: center;
  align-items: center;
}

.abilitiesContainer img {
  background-color: #333;
}
